.button-left {
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.button-right {
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
