.button-left { 
  left: -20;
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.button-right { 
  left: -20;
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
