@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Lato', sans-serif;

  &__title {
    margin-bottom: 5rem;
    text-align: center;
    
    h1 {
      font-weight: 900;
      letter-spacing: 0.2rem;
    }

    P {
      font-weight: 700;
      color: #CACACA;
      font-size: 1.2rem;
    }
  }

  &__card-container {
    display: flex;
    justify-content: center;
    position: relative;

    .slick-slider {
      width: 50vw;

      .slick-arrow {
        &.slick-prev {
          background-color: #97bf11;
        }

        &.slick-next {
          background-color: #97bf11;
        }
      }

      @media only screen and (min-width: 500px) {
        width: 50vw;
      }
    }
  }

  @media only screen and (min-width: 500px) {
    justify-content: center;
    position: relative;
    flex-basis: 100%;
  }
}
