.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  padding: 0 5rem;
  margin-left: 5rem;

  &__title {
    margin-bottom: 5rem;
    text-align: center;
  }

  &__card-container {
    display: flex;
    justify-content: center;

    .slick-slider {
      width: 75vw;

      .slick-arrow {
        &.slick-prev {
          left: -6rem;
          background-color: #97bf11;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }

        &.slick-next {
          right: -6rem;
          background-color: #97bf11;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
        }
      }
    }
  }
}
