.myReservationCard-container {
  margin-bottom: 2rem;
  border: 0.1rem solid white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow:
    0 10px 37px 11px rgba(255, 255, 255, 0.1);

  span {
    margin-left: 0;
    font-weight: 700;
  }
}
