.navbar {
  background-color: #060b26;
  height: 7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 100%;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: white;
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transform: 150ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem 0 0.8rem 1.6rem;
  height: 6rem;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 0.5rem;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  padding: 3rem 1rem 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 1.6rem;
}