@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.res-page-container {
  background-color: #95bf02;
  flex: 1;

  .mobile-container {
    .navbar {
      color: white;
    }
  }
}

.hidde {
  display: none;
}

.reservation-page {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;

  .res-title {
    color: white;
    margin-bottom: 2rem;
    font-weight: 900;
    letter-spacing: 0.4rem;
    border-bottom: 0.01rem solid white;
    padding: 0 4rem 2rem 4rem;
  }

  .res-paragraph {
    color: white;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    max-width: 40rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  .label-res-page {
    display: flex;
    column-gap: 2rem;
    padding: 0 1rem;
  }
}

.selectCity,
.selectBtn {
  background-color: #95bf02;
  border: solid 0.1rem white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  color: white;
}

.selectBtn {
  background-color: white;
  color: #95bf02;
}

@media only screen and (min-width: 500px) {
  .res-page-container {
    .res-title {
      font-size: 5rem;
    }

    .res-paragraph {
      font-size: 1.8rem;
      max-width: 80rem;
      padding: 0 3rem;
    }
  }
}

@media only screen and (min-width: 750px) {
  .res-page-container {
    .main {
      display: flex;
      align-items: center;
      justify-content: center;

      .newForm-page {
        justify-content: center;
      }

      .res-page-hidder {
        height: 100vh;
      }

      .selectBtn:hover {
        background-color: #95bf02;
        color: white;
        font-weight: 900;
      }

      .selectCity:hover {
        background-color: #95bf02;
        color: white;
        cursor: pointer;
      }
    }
  }
}
